<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="data:,">
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
      
        <% tasks.forEach( task => { %>
        <form action="/delete" method="POST">
            <div class="item">
            <input type="checkbox" name="checkbox" value="<%=task._id%>" onchange="this.form.submit()"/>
            <p><%= task.name %></p>
            </div>
        </form>
        <% }); %>

        <div class="item">
          <form action="/" method="POST">
            <input type="text" name="task" placeholder="Add Task" autocomplete="off"/>
            <button type="submit" name="submitPost" value="<%=kindOfDay%>">+</button>
          </form>
        </div>
      
      </div>
      
    </div>
   
  </body>

  <footer>From hiden52</footer>
</html>
